{% extends "base.html" %}

{% block title %}Portfolio MJMike{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                    <h2 class="fw-bolder">Projects</h2>
                    <p class="lead fw-normal text-muted mb-5">A collection of projects showcasing my work.</p>
                </div>
            </div>
        </div>
        <!-- Project details go here -->
        <div class="row">
            {% for project in projects %}
            <div class="col-lg-4 mb-5">
                <div class="card">
                    <div class="card-body">
                        <h2>{{ project.title }}</h2>
                        <p>{{ project.description }}</p>
                        <img src="{{ project.image.url }}" alt="{{ project.title }}" class="img-fluid">
                        <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="{{ project.link }}">Voir le projet</a>
                        <a href="{{ project.source_code }}">Voir le code source</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>No projects found.</p>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
